[Unit]
Description=Paperless Consumer Daemon

[Service]
User=paperless
Group=paperless
WorkingDirectory=/opt/paperless
Environment="PAPERLESS_PASSPHRASE={{ paperless_encrypt_passphrase }}"
Environment="PAPERLESS_SECRET_KEY={{ paperless_secret_key }}"
ExecStart={{ paperless_virtualenv }}/bin/python /opt/paperless/source/src/manage.py document_consumer

[Install]
WantedBy=multi-user.target
