[Unit]
Description=Paperless Consumer Daemon

[Service]
User=paperless
Group=paperless
ExecStart={{ paperless_virtualenv }}/bin/python /opt/paperless/source/src/manage.py document_consumer

[Install]
WantedBy=multi-user.target
